<div class="card" style="width: 18rem;">
    <!-- inverted commas compulsion in img src="", even if variable is string in .js file -->
    <img src="<%= cardImage %>" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%= cardTitle %></h5>
        <p class="card-text"><%= cardContent %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>